@{
    ViewData["Title"] = "Create Employee";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="form-label">Department</label>
                <select class="form-control" id="DepartmentId" name="DepartmentId">
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">Position</label>
                <select class="form-control" id="PositionId" name="PositionId">
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">Employee Name</label>
                <input class="form-control" id="EmployeeName" name="EmployeeName" />
            </div>
            <div class="form-group">
                <label class="form-label">Employee Name</label>
                <select class="form-control" id="Gender" name="Gender">
                    <option>Select..</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="form-label">Date Of Birth</label>
                <input type="date" class="form-control" id="DateOfBirth" name="DateOfbirth" />
            </div>
            <div class="form-group">
                <label class="form-label">Phone Number</label>
                <input class="form-control" id="PhoneNumber" name="PhoneNumber" />
            </div>
            <div class="form-group">
                <label class="form-label">Address</label>
                <textarea class="form-control" id="Address" name="Address"></textarea>
            </div>
            <br/>
            <button class="btn btn-primary" id="save">
                 Save
            </button>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var baseUrl = "https://localhost:7280/api/";
        var departmentOpt = "<option>Select</option>";
        var positionOpt = "<option>Select</option>";
        $(document).ready(function () {
            $("#save").click(function () {
                var employee = {
                    "EmployeeName": $("#EmployeeName").val(),
                    "Gender": $("#Gender").val(),
                    "DateOfBirth": $("#DateOfBirth").val(),
                    "Address": $("#Address").val(),
                    "PhoneNumber": $("#PhoneNumber").val(),
                    "PositionId": $("#PositionId").val(),
                    "DepartmentId": $("#DepartmentId").val()
                };
                $.ajax({
                    method: "POST",
                    contentType: "application/json",
                    url: baseUrl + "Employee",
                    data: JSON.stringify(employee),
                    success: function (response, status, http) {
                        if (http.status === 201) {
                            window.location.href = "/Employee/Index";
                        }
                    }, error: function (error) {
                        console.log(error);
                    }
                });
            });
            $.ajax({
                method: "GET",
                url: baseUrl + "Department",
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (i, v) {
                        console.log(v);
                        departmentOpt += "<option value='" +
                            v.departmentId + "'>" + v.departmentName + "</option>";
                    });
                    $("#DepartmentId").append(departmentOpt);
                }, error: function (error) {
                    console.log(error);
                }
            });
            $.ajax({
                method: "GET",
                url: baseUrl + "Position",
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (i, v) {
                        positionOpt += "<option value='" +
                            v.positionId + "'>" + v.positionName + "</option>";
                    });
                    $("#PositionId").append(positionOpt);
                }, error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
}

